#tiresult {
    font-size: 9px;
    background-color: #000000;
    font-weight: bold;
    padding: 4px 5px;
    --fs: 9px;
    text-align: center;
    /* Center the text horizontally */
}

body{
    color:#FFFFFF;
    background-color:#000000;
    margin:2px;
    padding:0px;
    font-size:12px;
    font-family: 'Source Code Pro', monospace;
}

pre{
    background-color:white;
    color:black;
    padding:20px;
    padding-top:5px;
    margin:0px;
    text-align:left;
    font-size:12px;
    text-decoration:none;
    overflow:hidden;
    -webkit-text-size-adjust:100%
}


.intro{
    text-align:justify;
    height: 100px;
    width: 700px;
    margin-top: 30px;
    margin-bottom: 1px;
    font-size: 15px;
    color:white;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    
}

table{
    margin-top: 30px;
    width: 700px;
}

td{
    height: 25px;
    color: black;
}

#dark{
    background-color:#FDDA0D;
}

#light{
    background-color:#FFFF8F;
}