@font-face {
  font-family: ProFont;
  src: url(/fonts/ProFont.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  /* margin: 5px 0px; */
  /* padding: 5px 0px; */
  text-align: center;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "ProFont", monospace;
  font-size: 20px;
  background-color: black;
  position: relative;
  max-height: 100vh;
}

body header {
  width: 800px;
  margin: 10px 0px;
  /* border: 1px solid white; */
}

body header section p {
  font-size: 15px;
  letter-spacing: 4px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center; 
}


body header article {
  border:1px solid grey;
  padding:1px;
  font-size: 15px;
  width:100%;
}

body header article .articleHeader{
  background-color:#333333;
  color:white;
  padding:4px;
  padding-left:8px;
  text-align:left
}

body header article .articleHeaderBottom{
  background-color:#999;
  color:#000;
  border-bottom:1px solid black;
  padding:4px;
  padding-left: 8px;
  text-align:left
}

body header article pre {
  background-color:white;
  color:black;
  padding:20px;
  padding-top:5px;
  margin:0px;
  text-align:left;
  font-size: 12px;
  text-decoration:none;
  overflow:hidden;
  -webkit-text-size-adjust:100%;
}

body footer {
  position: relative;
  color: #ffff8f;
  width: 800px;
  /* bottom: 0;  */
  top: 800px;
  z-index: 10;
}

body footer section p a{
  font-size: 11px;
  padding: 1px;
}

body footer section p span.text{
  font-size: 11px;
  padding: 1px;
  white-space: nowrap; 
}

body footer section a:link, footer a:visited {
  color: #ffff8f;
  }

body footer a:link:hover, footer a:visited:hover {
  color: #fdda0e; 
}



/* Shellx levels */
.details { 
    font-size: 16px;
    list-style: none;
    border: solid gray;
    padding: 10px 0px;
    background-color: #333;
    color: #FF9933;
    text-align: center;
    letter-spacing: 4px;
    position: absolute;
    top: 95px;
    left: 150px;
    width: 200px;
}

.details a {
    display: block;
    padding: 12px;
    font-size: 16px;
    background-color: #333333;
    color: white;
    text-decoration: none;
}

.details a:hover {
    background-color: #ccc;
    color: #000;
  }

  .details a.active {
    background-color: grey;
    color: white;
  }

  .title {
    color: #ffff8f;
  }