@font-face {
    font-family: ProFont;
    src: url("../fonts/ProFont.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section {
    /* margin: 5px 0px; */
    /* padding: 5px 0px; */
    text-align: center;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "ProFont", monospace;
    font-size: 20px;
    background-color: black;
}

body header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* padding: 0px 10%; */
    width: 800px;
    /* border: 1px solid white; */
}

body header .headerTop {
    margin-top: 10px;
}

body header .headerTop .logo {
    font-size: 13px; 
}

body header .headerBottom {
    padding: 0px;
    margin-bottom: 10px;
    position: relative;
}

body header .headerBottom li, a, button{
    font-family: "ProFont", monospace;
    font-size: 30px;
    color: black;
    text-decoration: none;
}

body header section nav {
    margin: 1px;
    width: 100%;
    /* height: 40px; */
    padding: 5px;
    background-color: #E6E6FA;
}

body header section nav .nav_links {
    list-style: none;
    background-color: #E6E6FA;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

body header section nav .nav_links li {
    display: inline-block;
    background-color: #E6E6FA;
    /* padding: 5px; */
    margin: 0px 20px;
}

body header section nav .nav_links li a {
    background-color: #E6E6FA;
    padding: 3px 15px 3px 15px;
    transition: all 0.3s ease 0s;
}

body header section nav .nav_links li a:hover{
    /* background-color: grey; */
    color: white !important;
    color: #00002d;
}

body header section nav .nav_links .current:visited{
    background-color: #333333;
    color: white;
}

/* body header section nav .nav_links .current:hover{
    background-color: black !important;
    color: white !important;
} */

button {
    background-color: rgba(0,0,45,1);
    border: none;
    cursor: pointer;
    font-size: 11px;
}

button:hover {
    /* background-color: rgba(0,0,45,0.8); */
    color: skyblue;
}


body header .headerBottom .SignupButton {
    position: absolute;
    background-color: #E6E6FA;
    top: 2px;
    right: 10px;
    width: 45px;
    height: 30px;
    text-decoration: underline;
    color: black;
    transition: all 0.3s ease 0s;
}

body main {
    width: 800px;
    margin: 10px 0px;
    /* border: 1px solid white; */
}

body main section p {
    font-size: 15px;
    letter-spacing: 4px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center; 
}

body main section p.levelTitle {
    color: #E6E6FA;
    font-size: larger;
}

body main article {
    border:1px solid grey;
    padding:1px;
    font-size: 15px;
    width:100%;
}
  
body main article .articleHeader{
    background-color:#333333;
    color:white;
    padding:4px;
    padding-left:8px;
    text-align:left
}
  
body main article .articleHeaderBottom{
    background-color:#999;
    color:#000;
    border-bottom:1px solid black;
    padding:4px;
    padding-left: 8px;
    text-align:left
}
  
body main article pre {
    background-color:white;
    font-family: Hack, 'Courier New', Courier, monospace;
    color:black;
    padding:20px;
    padding-top:5px;
    margin:0px;
    text-align:left;
    font-size: 12px;
    text-decoration:none;
    overflow:hidden;
    -webkit-text-size-adjust:100%;
}

body main article pre code #pageTitle, .pageHeadingCenter{
    font-size: x-large;
    margin: 1em;
    text-align: center;
}


body main pre code span.code {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    display: block;
    width: 100%;
    padding: 1em;
    line-height: 1.5;
}

body main article pre code li{
    font-size:medium;
    line-height: 1.5;
    text-indent: 10px;
}

body main article pre code p, #textBox p{
    font-size: medium;
    line-height: 1.5;
}


body main article pre code span.keyword {
    color: #333; /* Darker color for keywords */
    font-weight: 600;
}

body main article pre code span.function {
    color: #007bff; /* Blue for functions */
}

body main article pre code a{
    font-family: Hack, Courier, monospace;
    font-size: small;
    color: #0000EE;
    text-decoration: underline;
}

body main article pre code a:hover {
    text-decoration: underline;
}

body main article pre code #hint {
    font-size: small;
    font-weight: 600;
}

body main article table.level{
    width:100%;
    font-size:15px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

body main article table.level a{
    font-size: 15px;
    text-decoration: none;
}
body main article table.level td{
    border-bottom:1px solid gray;
    padding:3px;
    background-color: #E6E6FA;
    color: Black;
    padding-left:5px;
    padding-right:5px
}
body main article table.level tr:nth-child(even) td{
    background-color: #ADD8E6;
}

body main article table.level tr:hover a{
    color: white !important; 
    text-decoration: none;
}
body main article table.level tr:hover td{
    background-color:#333333;
    color: white;
}

/* body main article table.level tr td.active{
    background-color: black;
    color: white;
}

body main article table.level tr td.active a{
    color: white;
} */

body footer {
    color: #E6E6FA;
    width: 800px;
}

body footer section p a{
    font-size: 11px;
    padding: 1px;
}

body footer section p span.text{
    font-size: 11px;
    padding: 1px;
    white-space: nowrap; 
}
  
body footer section a:link, footer a:visited {
    color: #E6E6FA;
}
  
body footer a:link:hover, footer a:visited:hover {
    color: #00a382; 
}