---
permalink: /shellx.html
title: ".::SHELLX::."
currentPage: shellx
---
{% extends "layouts/shellx.njk" %}

{% block pageTitle %}.::WELCOME TO THE COMMAND-LINE!::.{% endblock %}

{% block initialContent %}
<div class="container">
<span class="code">$./README

We trust you have received the usual lecture from the local System Administrator. It usually boils down to these three things:

#1) Respect the privacy of others.
#2) Think before you type.
#3) With great power comes great responsibility.

[sudo] password for user:
</span>

<span class="text">The SH3LLX track is a CTF designed to learn the fundamentals of the Linux<span>
</div>
{% endblock %}

{% block articleContent %}
<div class="articleHeader">Current levels: {{ collections.shellxLevels | length }} | Release date : 11-02-2024 | Editor : The Vortex Staff</div>
<table class="level" cellpadding="0" cellspacing="0">
    {% for level in collections.shellxLevels %}
    <tr onclick="displayText('{% if level.data.locked %}lock-{% endif %}{{ level.data.id }}');"><td align="left">{{ level.data.label }}</td><td align="right">{{ level.data.author }}</td></tr>
    {% endfor %}
</table>
{% endblock %}

{% block textContentsScript %}
<script>
var textContents = {
{% for level in collections.shellxLevels %}{% if not level.data.locked %}
    {{ level.data.id | jsondump | safe }}: {{ level.templateContent | jsondump | safe }},
{% endif %}{% endfor %}
};
</script>
{% endblock %}
