{% extends "layouts/base.njk" %}

{% block body %}
    <main>
        <section>
            <p class="levelTitle">{% block pageTitle %}{% endblock %}</p>
        </section>
        <article>
            <div class="articleHeaderBottom">posted by Vortex Staff</div>
            <div id="textBox">{% block initialContent %}{% endblock %}</div>
            {% block articleContent %}{% endblock %}
        </article>
    </main>
{% endblock %}

{% block scripts %}
    {% block textContentsScript %}{% endblock %}
{% endblock %}
