{% extends "layouts/challenge-page.njk" %}

{% block headStyles %}
    <link rel="stylesheet" href="/css/ShellX.css">
    <script src="/javascripts/display.js"></script>
{% endblock %}

{% block logo %}
{% include "logos/shellx.html" %}
{% endblock %}
