{% extends "layouts/challenge-page.njk" %}

{% block headStyles %}
    <link rel="stylesheet" href="{{ '/css/ShellX.css' | url }}">
    <script src="{{ '/javascripts/display.js' | url }}"></script>
{% endblock %}

{% block logo %}
{% include "logos/shellx.html" %}
{% endblock %}
