---
permalink: /index.html
title: ".::VORTEX::."
currentPage: home
---
{% extends "layouts/page.njk" %}

{% block main %}
<section>
    <p class="levelTitle">.::INTRODUCTION::.</p>
</section>
<article>
    <div class="articleHeader">Current Games: 2 | Release date : 11-02-2024 | Editor : The Vortex Staff</div>
    <div class="articleHeaderBottom">posted by Vortex Staff</div>
    <pre><code>
<div class="container">
<h1 class="center pagTitle">The Vortex Project</h1>
<hr>

Welcome to "The Vortex Project," where learning meets adventure in a seamlessly integrated experience
designed to elevate your skills and knowledge in technology.

At the heart of "The Vortex Project" lie two distinct games, each meticulously crafted to provide
comprehensive insights into essential tech domains.

<li><strong>Shellx</strong> - A CTF-style command-line game that teaches fundamentals of Linux</li>
<li><strong>Bytex</strong> - The Embedded way, teaching you how to program microcontrollers and IoT devices</li>

First up is "Shellx," inspired by OverTheWire Bandit. Your gateway to understanding the Linux
operating system — dive deep into the command-line interface as you navigate through levels,
unraveling file management, process handling, and system administration.

Then comes "ByteX," where IoT concepts come to life. Learn to program Arduino microcontrollers
from the ground up — LEDs, pushbuttons, buzzers, displays, and beyond.

What sets "The Vortex Project" apart is its dynamic approach to learning.
Each game is divided into levels, meticulously designed to introduce new concepts while reinforcing
previous knowledge. Through the principles of <strong>active learning</strong> and <strong>spaced repetition</strong>, challenges become
opportunities for growth, and successes pave the way for deeper understanding.

As you progress through "The Vortex Project," be prepared for challenges that evolve in complexity,
mirroring your own journey from novice to expert.

</div>
    </code></pre>
</article>
{% endblock %}
